*{
margin: 0%;
padding:0%;

}
:root{

}

.cabecalho{
background-color: blueviolet;
padding: 50px;
}
.corpo{
background-color: mediumorchid;
padding: 25px;
}
.footer{
background-color: darkorchid;
padding: 25px; ;
}
.boton{
position: fixed;
top: 20px; ;
left: 20px; ;
padding: 10px 20px;
background-color: indigo;
color: black;
text-decoration: none;
border-color: black;
}
.boton:hover{



    
}