*{
margin: 0%;
padding:0%;

}
:root{

}

.cabecalho{
background-color: dimgrey;
padding: 50px;
}
.corpo{
background-color: dimgray;
padding: 25px;
}
.footer{
background-color: dimgray;
padding: 25px; ;
}
.boton{
position: fixed;
top: 20px; ;
left: 20px; ;
padding: 10px 20px;
background-color: white;
color: black;
text-decoration: none;
border-radius: 15px;
}
.boton:hover{
background:linear-gradient(to right, #5a5757, #4d4b4b   ,#5c5959);
}
.boton:active{
    font-size: 15px;
}